<div id="inline_toolbar" class="toolbar enabledtoolbar" style="display: none">
        <div class="menu_inline" role="toolbar">
                <ul>
                        <% for (var i = 0; i < buttons.length; i++) { %>
                                <% for (var j = 0; j < buttons[i].length; j++) { %>
                                        <%- buttons[i][j] %>
                                <% } %>
                        <% } %>
                </ul>
        </div>
</div>
